<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script th:src = "@{/JS/company.js}"></script>
<div class = "container-fluid">

    <div id = "head_1"th:replace = "Header.html :: header" style = "background-color: rgba(255, 255, 255, 0)"></div>
    <div style="height:73.52vh;">
        <img th:src = "@{/IMG/logofoot.svg}" class = "col-md-10 offset-md-1" style="height: 59.0278vh;">
    </div>
    <div id = "foot_1" th:replace = "Footer.html :: footer"></div>
</div>
</body>
</html>